<?xml version="1.0"?>
<config>
    <modules>
        <Magecloud_PHP7>
            <version>1.0.1</version>
        </Magecloud_PHP7>
    </modules>
    <global>
        <models>
            <magecloud_php7>
                <class>Magecloud_PHP7_Model</class>
            </magecloud_php7>
            <core>
                <rewrite>
                    <layout>Magecloud_PHP7_Model_Layout</layout>
                </rewrite>
            </core>
        </models>
        <helpers>
            <magecloud_php7>
                <class>Magecloud_PHP7_Helper</class>
            </magecloud_php7>
        </helpers>
    </global>
</config>