<?xml version="1.0"?>
<config>
    <modules>
        <Magecloud_PHP7>
            <version>1.0.1</version>
        </Magecloud_PHP7>
    </modules>
    <global>
        <models>
            <php7>
                <class>Magecloud_PHP7_Model</class>
                <resourceModel>php7_resource</resourceModel>
            </php7>
            <php7_resource>
                <class>Magecloud_PHP7_Model_Resource</class>
            </php7_resource>
        </models>
        <helpers>
            <php7>
                <class>Magecloud_PHP7_Helper</class>
            </php7>
        </helpers>
    </global>
</config>